<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login - LilacCloud.Domine_</title>
    <link href="./css/bootstrap.css" rel="stylesheet"/>
    <link href="./css/bootstrap-icons.css" rel="stylesheet"/>
    <link href="./src/img/logo.png" rel="icon" type="favicon">
    <link href="./output.css" rel="stylesheet" type="text/css"/>
    <link href="./css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body class="bg-slate-200 dark:bg-zinc-700 text-stone-800 dark:text-zinc-100 transition-all ">

<!-- navbar component area -->
<div class="fixed bg-amber-300 dark:bg-orange-500 z-20 shadow top-0 clear-both clearfix px-3 w-full grid grid-cols-2 gap-1">
    <style>
        .unselect {
            user-select: none !important;
        }
    </style>

    <span class=" w-auto" onclick="jslink(window.location.origin)">
            <img class="unselect m-0 inline-block" src="./src/img/logo.png" style="transform: translateY(-5px); top: 0px;"
                 width="8%"/>
            <h5 class="inline-block pt-2 font-bold font-mono text-lg ">LilacYun.Domine_ 
                <i class="font-light text-sm"> from spiderCC</i>
            </h5>
        </span>

    <span class=" text-right pt-1 py-auto h-full ">
            <ul class="list-none inline align-middle vela ">
                <li class="inline-block align-baseline border-0 relative rounded border-transparent
                 shadow ml-1 z-30
                bg-green-300 bg-opacity-0
                hover:bg-sky-100 hover:bg-opacity-50
                dark:hover:bg-sky-200 dark:hover:bg-opacity-50
                active:bg-sky-300 active:bg-opacity-50
                dark:active:bg-sky-400 dark:active:bg-opacity-50
                transition-all"
                    id="darksw"
                >
                    <div class=" p-1 px-2">
                        <span class="bi bi-sun" id="swb_h"> </span>
                    </div>

                </li>

<script>

</script>

                <a class="border-0 px-2 py-1 rounded border-transparent shadow ml-1
                bg-green-300 bg-opacity-0
                hover:bg-sky-100 hover:bg-opacity-50
                dark:hover:bg-sky-200 dark:hover:bg-opacity-50
                active:bg-sky-300 active:bg-opacity-50
                dark:active:bg-sky-400 dark:active:bg-opacity-50
                transition-all
                "
                   href="/market.html"><li class="inline-block align-baseline pb-1">Market</li></a>

                <a class="border-0 px-2 py-1 rounded border-transparent shadow ml-1
                bg-green-300 bg-opacity-0
                hover:bg-sky-100 hover:bg-opacity-50
                dark:hover:bg-sky-200 dark:hover:bg-opacity-50
                active:bg-sky-300 active:bg-opacity-50
                dark:active:bg-sky-400 dark:active:bg-opacity-50
                transition-all
                "
                   href="/panel.html"><li class="inline-block align-baseline pb-1">Control</li></a>

                <a class="border-0 px-2 py-1 rounded border-transparent shadow ml-1
                bg-green-300 bg-opacity-0
                hover:bg-sky-100 hover:bg-opacity-50
                dark:hover:bg-sky-200 dark:hover:bg-opacity-50
                active:bg-sky-300 active:bg-opacity-50
                dark:active:bg-sky-400 dark:active:bg-opacity-50
                transition-all
               " href="#"
                   id="login-btn"><li class="inline-block align-baseline pb-1">Login</li></a>

               <a class="border-0 px-2 py-1 rounded-full border-transparent shadow ml-1
                bg-green-300 bg-opacity-80
                hover:bg-sky-100 hover:bg-opacity-50
                dark:hover:bg-sky-200 dark:hover:bg-opacity-50
                active:bg-sky-300 active:bg-opacity-50
                dark:active:bg-sky-400 dark:active:bg-opacity-50
                transition-all

              " href="javascript:wshut()" id="help-btn"
                  title="Need help?"><li class="inline-block align-baseline pb-1"><span class="bi bi-question-circle-fill"></span></li></a>

            </ul>
        </span>


</div>

<div class="container m-0 w-full mx-auto px-8 py-10" style="min-height: 100vh;">
    <div class="grid grid-cols-3 md:grid-cols-5 xl:grid-cols-7 ">
        <h1 class="text-4xl font-mono font-bold mb-4 mt-12 block col-span-full"><b id="titleLogin">Login!_</b> <span
                class="float-right">;&rpar;</span></h1>

        <div class="w-full p-5 px-6 m-1 md:col-start-2 xl:col-start-3 col-start-1 col-span-3 border-0 bg-emerald-300 bg-opacity-30 rounded-lg hover:bg-opacity-40 transition-all shadow-lg hover:shadow-xl">
            <form action="" class="form arj" id="loginf" method="post">
                <div class="form-group">
                    <label for="uname">Username</label>
                    <input class="form-control" id="uname" required type="text">
                </div>
                <div class="form-group">
                    <label for="pws">Password</label>
                    <input class="form-control" id="pwd" required type="password">
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" id="remember" type="checkbox">
                    <label class="form-check-label" for="remember">Stay me online!_</label>
                </div>
                <div class="clear-both">
                        <span class="float-right">
                            <b class="mr-1 text-lg">Have no account?&rarr;</b> 
                            <button class="transition-all shadow btn-lg btn-info bg-blue-400 hover:bg-500 active:bg-blue-600" onclick="swla(0)"
                                    type="button">Register! </button>
                        </span>
                    <button class="shadow transition-all btn-lg btn-primary bg-teal-500 hover:bg-teal-600 active:bg-teal-700"
                            id="linb"
                            type="submit">Login
                    </button>

                </div>
            </form>
            <!-- ... -->
            <form action="" class="form hidden" id="regf" method="post">
                <div class="form-group">
                    <label for="unameNew">Username(for login)</label>
                    <input class="form-control" id="unameNew" required type="text">

                    <label class="mt-2" for="email">Email(optional)</label>
                    <input aria-describedby="emailHelp" class="form-control" id="email" type="email">
                </div>
                <div class="form-group" class="mt-2">
                    <label for="pws">Password</label>
                    <input class="form-control" id="pwdr1" required type="password">

                    <label class="mt-2" for="pws">Password Again</label>
                    <input class="form-control" id="pwdr2" required type="password">
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" id="agree" type="checkbox">
                    <label class="form-check-label" for="agree">Agree with the </label><a class="pl-1 underline">Privacy
                    Policy</a>
                </div>
                <p class="text-danger" id="warnline"></p>
                <div class="clear-both mt-3">
                        <span class="float-right">
                            <b class="mr-1 text-lg">Already have account?&rarr;</b> 
                            <button class="transition-all shadow btn-lg btn-info bg-blue-400 hover:bg-500 active:bg-blue-600" onclick="swla(1)"
                                    type="button">Login! </button>
                        </span>
                    <button class="transition-all btn-lg btn-primary shadow bg-teal-500 hover:bg-teal-600 active:bg-teal-700" disabled
                            id="regb"
                            type="submit">Register
                    </button>

                </div>
            </form>
        </div>

    </div>


</div>
<div class="footer w-full bg-slate-600 text-white py-5 px-28 mt-12 pb-12">
        <span class="">
            Copyright all saved to: <i class="font-italic">undefined</i><br>
            PCIendose: 1919114810514<br>
            <p class="clearfix">
                Contact us: <a class="text-sky-500 transition-all"
                               href="javascript:erralert();"
                               id="fake_email"
                               title="mailto:114@lilac.yun"
            >114@lilac.yun</a>, 1-999-367-3767

                <span class="float-right"> <a class="text-sky-500 transition-all"
                                              href="/about.html" target="_blank">
                                                <span class="bi bi-slash-circle-fill"></span> 
                                                About. </a> 
                </span>
            </p>
        </span>
</div>
</body>
<script src="./js/jquery.js"></script>
<script src="./js/bootstrap.bundle.js"></script>
<script>
</script>

<script src="./js/swal.js"></script>

<script src="./js/GeneralHelpers.js"></script>
<script src="./js/LoginAndRegFormHelper.js"></script>

<script src="./js/intro.js"></script>
</html>